head {}

body {
  font-family: Montserrat;
}

#title-bar {
  background-color: #FE3C72;
}

.heading {
  font-family: Montserrat-black;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
  color: #FFF;
}

.navbar {
  padding: 0 0 4.5rem;
}

.dropdown:hover .dropdown-menu {
  display: block;
  font-weight: 900;
}

.dropdown-menu {
  margin-top: 0;
}

.nav-item {
  padding: 0 18px;
  font-weight: bolder;
  font-size: 1rem;
}

.dropdown-item {
  background-color: #FFF;
  font-weight: bolder;
  font-size: 1rem;
}

.dropdown-item:hover {
  background-color: PINK;
  box-shadow: 0px 37px 20px -20px;
  -webkit-transform: translate(0px, 0px) scale(1.2);
  transform: translate(0px, 0px) scale(1.2);
}

.container-fluid {
  padding: 3% 15% 7%;
}

.navbar-brand {
  font-family: Ubuntu;
  font-size: 2.5rem;
  font-weight: bold;
}

.btn {
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  padding: 20px 25px;
  border-radius: 5px;
  box-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  -webkit-transition: all ease-in-out 300ms;
  transition: all ease-in-out 300ms;
  margin-top: 25px;
  margin-right: 20px;
}

.btn:hover {
  box-shadow: 0px 37px 20px -20px rgba(0, 0, 0, 0.2);
  -webkit-transform: translate(0px, -10px) scale(1.2);
  transform: translate(0px, -10px) scale(1.2);
}

.title {
  padding-left: 10%;
}

.title-img {
  width: 60%;
  transform: rotate(25deg);
  margin-left: 70px;
  margin-top: 5%;
  position: absolute;
}

#features {
  background-color: #fff;
  position: relative;
  z-index: 1;
}

.icon {
  color: #ef8172;
  font-size: 5rem;
}

.icon:hover {
  color: #FE3C72;
}

h3 {
  font-family: Montserrat-bold;
  font-size: 2rem;
  font-weight: 900;
  padding-top: 2%;
}

.second {
  text-align: center
}

.para {
  font-family: Montserrat-bolder;
  font-weight: 500;
  color: #8f8f8f;
}

.testp {
  padding: 10% 10%;
}

/* span{
  position: absolute;
  top:30%;
  left:50%;
  transform: translate(-50%, -50%);
  font-size:60px;
	letter-spacing:0.1em;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: white;
  text-shadow:
						4px 4px #FE3C72,
						10px 10px #000000;
} */
#testimonials {
  text-align: center;
  background-color: #FE3C72;
  color: #fff;
}

#testimonial-carousel {
  padding: 7% 15%;
}

.testimonials-img {
  width: 10%;
  border-radius: 100%;
  margin: 10px;
}

#press {
  background-color: #FE3C72;
  text-align: center;
  padding-bottom: 30px;
}

.press-img {
  width: 15%;
  margin: 20px 20px 50px;
}

h2 {
  font-family: "Montserrat-bold", sans-serif;
  font-size: 3rem;
  line-height: 1.5;
}

#pricing {
  text-align: center;
  font-family: "Ubuntu";
  font-weight: 900;
}

.pricing-txt {
  font-family: "Ubuntu";
  padding-top: 20px;
  padding-bottom: 20px;
}

.pricing-txt-para {
  font-family: "Ubuntu";
  color: #8f8f8f;
  padding-bottom: 30px;
}

.demo {
  padding: 50px 0;
}

.heading-title {
  margin-bottom: 50px;
}

.pricingTable {
  border: 2px solid #e3e3e3;
  text-align: center;
  position: relative;
  padding-bottom: 40px;
  transform: translateZ(0px);
  box-shadow: 25px 37px 20px -20px;
  font-weight: bold;
}

.Labrador {
  text-decoration: line-through;
}

.pricingTable:before,
.pricingTable:after {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  bottom: -2px;
  right: -2px;
  z-index: -1;
  transition: all 0.5s ease 0s;
}

.pricingTable:before {
  border-right: 2px solid #FE3C72;
  border-left: 2px solid #FE3C72;
  transform: scaleY(0);
  transform-origin: 100% 0 0;
}

.pricingTable:after {
  border-bottom: 2px solid #FE3C72;
  border-top: 2px solid #FE3C72;
  transform: scaleX(0);
  transform-origin: 0 100% 0;
}

.pricingTable:hover:before {
  transform: scaleY(1);
}

.pricingTable:hover:after {
  transform: scaleX(1);
}

.pricingTable .pricingTable-header {
  background: #FE3C72;
  color: #fff;
  margin: -2px -2px 35px;
  padding: 40px 0;
}

.pricingTable .heading {
  font-size: 30px;
  font-weight: 600;
  margin: 0 0 5px 0;
}

.pricingTable .subtitle {
  font-size: 14px;
  display: block;
}

.pricingTable .price-value {
  font-size: 72px;
  font-weight: 600;
  margin-top: 10px;
  position: relative;
  display: inline-block;
}

.pricingTable .currency {
  font-size: 45px;
  font-weight: normal;
  position: absolute;
  top: 2px;
  left: -30px;
}

.pricingTable .month {
  font-size: 20px;
  position: absolute;
  bottom: 17px;
  right: -40px;
}

.pricingTable .pricing-content {
  list-style: none;
  padding: 0;
  margin-bottom: 30px;
}

.pricingTable .pricing-content li {
  font-size: 16px;
  color: #7a7e82;
  line-height: 40px;
}

.pricingTable .read {
  display: inline-block;
  border: 2px solid #7a7e82;
  border-right: none;
  font-size: 14px;
  font-weight: 700;
  color: #7a7e82;
  padding: 9px 30px;
  position: relative;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
}

.pricingTable .read:hover {
  border-color: #FE3C72;
  color: #FE3C72;
}

.pricingTable .read i {
  font-size: 19px;
  margin-top: -10px;
  position: absolute;
  top: 50%;
  right: 15px;
  transition: all 0.3s ease 0s;
}

.pricingTable .read:hover i {
  right: 5px;
}

.pricingTable .read:before,
.pricingTable .read:after {
  content: "";
  display: block;
  height: 30px;
  border-left: 2px solid #7a7e82;
  position: absolute;
  right: -11px;
  transition: all 0.3s ease 0s;
}

.pricingTable .read:before {
  bottom: -6px;
  transform: rotate(45deg);
}

.pricingTable .read:after {
  top: -6px;
  transform: rotate(-45deg);
}

.pricingTable .read:hover:before,
.pricingTable .read:hover:after {
  border-left-color: #FE3C72;
}

@media screen and (max-width: 990px) {
  .pricingTable {
    margin-bottom: 25px;
  }

  .title-img {
    position: relative;
    transform: rotate(0deg);
    margin: 15% auto;
  }

  .heading {
    text-align: center;
  }

  .btn {
    text-align: center;
  }

  #title-bar {
    text-align: center;
  }

  #testimonials {
    text-align: center;
  }

  .testimonial-text {
    font-size: 1.5rem;
  }
}

#cta {
  text-align: center;
  background-color: #FE3C72;
  padding: 100px 50px;
}

.hc-txt {
  font-family: Montserrat-bold;
  color: #fff;
  font-size: 2rem;
  font-weight: 900;
  padding: 2% 5%;
}

#footer {
  text-align: center;
  padding: 7% 15%;
  background-color: #fff;
}

.social {
  margin: 20px 10px;
}

.footer-end {
  font-family: "Ubuntu";
  font-weight: 900;
}
